@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primaryBackground:#212222;
    --secondaryBackground:#2f3030;
    --primaryColor : #e0a80d;
    --greyDark:#7d8792;
    --headingColor : #2d2e2e;
    --white:#fff;
    --black : #000;
    --sliver : #bac8d3;

}

body {
    background-color: var(--headingColor);
    color: var(--white);
    font-family: "poppins", sans-serif ;
}
a{
    color: var(--greyDark);
    text-decoration: none;
    transition: 0.5s;
}
a:hover{
    color:var(--primaryColor) ;
}
p{
    color: var(--sliver);
    font-size: 15px;
    line-height: 30px;
    margin: 20px 0;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}
.container{
    max-width:80% ;
    margin: auto;
}
.flexsb{
    display: flex;
    justify-content: space-between;
}
button{
    border: none;
    outline: none;
    background: none;
    font-size: 17px;
    background-color: var(--primaryColor);
    color: var(--white);
    padding: 15px 50px;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;


}
.btnConnect{
    margin-left: 15px;
}
.primaryBtn{
    background: none;
    border: 2px solid var(--primaryColor); 
}
/* ___________________ header ________________ */
header{
    background-color: var(--headingColor);
    height: 10vh;
    line-height: 10vh;
    position: sticky;
    top : 0;
    left: 0;
    width: 100%;
    z-index: 999;


}
header a{
    margin-left: 40px;

}
.toggle{
    cursor: pointer;
    color: var(--white);
    display: none;
}
@media screen and (max-width : 1200px){
    .hero{
        flex-direction: column;
        
    }
    .hero img{
        width: 40vw;
        padding-top: 50px;
    }
     .about .flexs{
        flex-direction: column;
        
    }
    .about{
        margin-bottom: 200px;
    }
    .Services {
        padding-top: 200px;
    }
    .Counter {
        padding-top: 500px;
    }
    
}
@media screen and (max-width : 1000px){
    .hero{
        flex-direction: column;
        
    }
    .hero img{
        width: 10vw;
    }
     .about .flexs{
        flex-direction: column;
        
    }
    .about{
        padding-top: 50px;
        margin-bottom: 500px;
    }
 
    .hero img{
        width: 40vw;
        padding-top: 50px;
    }
    .Services{
        padding-top: 50px;
        padding-bottom: 1500px;
    }
    .Counter {
        padding-top: 20px;
    }
    .fontSize{
        padding-top: 50px;
    }
    
}
@media screen and (max-width : 768px){
    header .nav{
        display: none;

    }
    .about{
        padding-top: 300px;
        /* margin-bottom: 500px; */
    }
    
    header a{
        width: 100%;
        display: block;
        color: var(--white);

    }
    .toggle{
        display: block;
        background : none;
        font-size: 25px;
    }
    .hideMinu{
        display: block;
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        background-color: var(--headingColor);
    }
    .hero img{
        width: 50vw;
        margin-top: 50px;
    }
    .hero{
        flex-direction: column;
        
    }
    .catButton .primaryBtn {
        width: 160px;
        text-align: center;
        padding: 15px 20px;

    }
    .Services{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .Counter {
        padding-top: 20px;
    }
    .fontSize{
        padding-top: 50px;
    }
    
   
}

/* _____________________ Header __________ */
section{
    height: 90vh;
    display: flex;
    align-items: center;
}
.flex{
    display: flex;
}
/* ___________  hero ___________ */
.hero{
    position: relative;
    
}
.hero::after{
    content: "";
    position: absolute;
    top :0;
    left: 0;
    background-image: url("../public/images/home-bg.png");
    background-size:cover ;
    background-attachment: fixed;
    z-index: -1;
    width: 100%;
    height: 90vh;

}
.heroContainer{
    max-width: 50%;
    margin: auto;
    text-align: center;
}
.hero h1{
    font-size: 60px;
    font-weight: 600;
    color: var(--primaryColor);
}
.hero i{
    color: var(--primaryColor);
    cursor: pointer;
    margin: 0 5px;
}
/* _________________ Heading ______________ */

.heading{
    font-size: 30px;
    color: var(--primaryColor);
    font-weight: 600;
    text-align: center;
    margin-bottom: 60px;
}
/* _________________ About ______________ */
.about .primaryBtn{
    margin-left: 20px;
}
.about .heading{
    text-align: left;
    margin: 0;
}
.left{
    width: 35%;
}
.right{
    width: 65%;
}

/* _________________ service ______________ */

.grid3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.Services .box{
    background-color: var(--primaryBackground);
    padding: 35px;
}
.Services i{
    color: var(--primaryColor);
}
/* _______________________ Counter _______________ */
.grid4{
    grid-template-columns: repeat(4,1fr);
    height: 50vh;
    place-items: center;
    text-align: center;
}
.Counter{
    margin-top: 80px;
    position: relative;
}
.hero .Counter::after{
    background-image: url(../public/images/some-facts-bg.png);
    height: 50vh;
}
.Counter h1{
    margin: 0;
    font-size: 30px;
}
/* article */
article{
    margin-top: 50px;
    margin-bottom: 80px;

}
article img{
    width: 100%;
    height: 100%;

}
article .box{
    position: relative;
    transition: 0.5s;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    transition: 0.5s;
    z-index: 2;
  }
.overlay::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:100% ;
    height: 100%;
    background-color: var(--primaryColor);
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}
article .box:hover .overlay::after,
article .box:hover .overlay {
  opacity: 1;
}
.catButton{
    display:flex ;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

/* ______________ Blog _________________ */

.blog img{
    width: 100%;
}
.blog .box{
    background-color: var(--primaryBackground);
    border-radius: 10px;
}
.blog .text{
     padding: 10px 30px;
}

label{
    color: var(--primaryColor);
}
/* ______________ Blog _________________ */

/* ________________ contact ___________________ */
.contact{
    margin: 20px 0;
}
.contact .right,
.contact .left{
    padding: 20px;

}
.contact .flex input:nth-child(1){
    margin-right: 10px;
}
.contact button,
.contact textarea,
.contact input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    margin: 10px 0;
    border-radius: 10px;

}



/* ________________ contact ___________________ */

/* __________- Footer ________ */

footer{
text-align: center;
background-color: var(--primaryBackground);
padding: 70px;
margin-top: 50px;
}
Footer i{
    margin: 5px;
    color: var(--primaryColor);
}
/* __________- Footer ________ */

@media screen and (max-width:768px) {
    .hero{
        height: 60vh;
    }
    .heroContainer{
        max-width: 80%;
    }
    .hero ::after{
        height: 60vh;
    }
    section{
        height: auto;
        padding-top: 50px;
    }
    .contact .flexsb,
    .about .flex{
        flex-direction: column;
    }
    .left,
    .right{
        width: 100%;
    }
    .grid3 , .grid4{
        grid-template-columns: repeat(2,1fr);
    }
    

}
/* _______________________ iimmgg _________________ */
.image{
    width: 300;
    height: 300px;
    animation: zoom 1s ease forwards,float 4s ease-in-out infinite;
    opacity: 0;
    animation-delay: 0.4s, 4s;
}
@keyframes zoom{
    0%{
        scale: 0;
        opacity: 0;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}
@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(0);
    }
}
/* @media(max-width:510px){
    .hero img{
        width: 56vw;
       }
    .hero{
        display: flex;
        flex-direction: column;
    }
} */
